spring-custom-bean-parser/src/main/java/com/wooyoo/blog/spring/bean_parser/Spring-test.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.wooyoo.org/schema/user"
        xmlns:tns="http://www.wooyoo.org/schema/user" elementFormDefault="qualified">
    <element name="user">
        <complexType>
            <attribute name="id" type="string"/>
            <attribute name="userName" type="string"/>
            <attribute name="email" type="string"/>
        </complexType>
    </element>
</schema>